<div id="geoipdb-update-info" {% if not geoIPDatabasesInstalled %}style="display:none;"{% endif %}>
    <p>
		{{ 'UserCountry_GeoIPUpdaterInstructions'|translate('<a href="http://www.maxmind.com/en/download_files?rId=piwik" _target="blank">','</a>',
        '<a href="http://www.maxmind.com/?rId=piwik">','</a>')|raw }}
        <br/><br/>
		{{ 'UserCountry_GeoLiteCityLink'|translate("<a href='"~geoLiteUrl~"'>",geoLiteUrl,'</a>')|raw }}
		{% if geoIPDatabasesInstalled %}
		<br/><br/>{{ 'UserCountry_GeoIPUpdaterIntro'|translate }}:
		{% endif %}
	</p>

	<div piwik-field uicontrol="text" name="geoip-location-db"
		 introduction="{{ 'UserCountry_LocationDatabase'|translate|e('html_attr') }}"
		 title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPLocUrl }}"
		 inline-help="{{ 'UserCountry_LocationDatabaseHint'|translate|e('html_attr') }}">
	</div>

	<div piwik-field uicontrol="text" name="geoip-isp-db"
		 introduction="{{ 'UserCountry_ISPDatabase'|translate|e('html_attr') }}"
		 title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPIspUrl }}">
	</div>

	<div piwik-field uicontrol="text" name="geoip-org-db"
		 introduction="{{ 'UserCountry_OrgDatabase'|translate|e('html_attr') }}"
		 title="{{ 'Actions_ColumnDownloadURL'|translate|e('html_attr') }}"
		 value="{{ geoIPOrgUrl }}">
	</div>

	<div id="locationProviderUpdatePeriodInlineHelp" class="inline-help-node">
		{% if lastTimeUpdaterRun is defined and lastTimeUpdaterRun is not empty %}
			{{ 'UserCountry_UpdaterWasLastRun'|translate(lastTimeUpdaterRun)|raw }}
		{% else %}
			{{ 'UserCountry_UpdaterHasNotBeenRun'|translate }}
		{% endif %}
		<br/><br/>
		<div id="geoip-updater-next-run-time">
			{% include "@UserCountry/_updaterNextRunTime.twig" %}
		</div>
	</div>

	<div piwik-field uicontrol="radio" name="geoip-update-period"
		 introduction="{{ 'UserCountry_DownloadNewDatabasesEvery'|translate|e('html_attr') }}"
		 value="{{ geoIPUpdatePeriod }}"
		 options="{{ updatePeriodOptions|json_encode }}"
		 inline-help="#locationProviderUpdatePeriodInlineHelp">
	</div>

	<input type="button"
		   class="btn"
		   value="{% if not geoIPDatabasesInstalled %}{{ 'General_Continue'|translate }}{% else %}{{ 'General_Save'|translate }}{% endif %}"
		   id="update-geoip-links"/>

	<div style="display:inline-block;width:700px;">
		<div id="done-updating-updater"></div>
		<div id="geoipdb-update-info-error"></div>
		<div id="geoip-progressbar-container" style="display:none;">
			<div id="geoip-updater-progressbar"></div>
			<span id="geoip-updater-progressbar-label"></span>
		</div>
	</div>
</div>
